{% extends 'base.html' %}
{% load static %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
        
    {% endblock style %}
        

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    
    <h1>Rna sequencer</h1><br>
    <form action="" method="get">
        <textarea name="rna" id="" 
        cols="30" rows="10" placeholder="Enter your Rna"></textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>

    {% if seq %}
    <div class="result">
        <h1><u>Result</u></h1><br>
        <h2>
            
<table>
    <tr>
      <th><span>Given Sequences</span> </th>
      <th><span>{{seq|truncatechars:11}}</span></th>
    </tr>
    <tr>
      <td>Orf Length</td>
      <td>{{features.0.0|floatformat:4}}</td>
    </tr>
    <tr>
      <td>GC Content</td>
      <td>{{features.0.1|floatformat:4}}</td>
    </tr>
    <tr>
      <td>Transcript Length</td>
      <td>{{features.0.2|floatformat:4}}</td>
    </tr>
    <tr>
      <td>CPG Island</td>
      <td>{{features.0.3|floatformat:4}}</td>
    </tr>
    <tr>
      <td>Fickett Score</td>
      <td>{{features.0.4|floatformat:4}}</td>
    </tr>
  </table>
  <br><br>
  <div class="value">
    <h3>The Sequences is a 
        {{result}}
        {{features}}
    </h3>
    {% endif %}
    <br><br>
  </div>
</div>
{% endblock content %}